* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f5f7fa;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0;
    height: 44px;
}

.navbar i {
    font-size: 1.5rem;
    color: #dadfe6;
}

.navbar i:nth-child(1) {
    color: #fe466d;
}

/* Photo and action */
.photo-and-actions {
    height: calc(100vh - 44px);
    display: flex;
    flex-direction: column;
    align-items: center;
}